.container {
  max-width: 1100px;
  margin: 0% auto;
  padding: 18px;
}
.menu {
  font-family: "Nunito Sans", sans-serif;
  color: #2d3142;
  text-align: center;
  line-height: 1.72;
}

.menu-tutorials {
  margin: 0%;
  padding: 82px;
}
.tutorials-group {
  justify-content: center;
  display: grid;
  grid-template-columns: 159px 159px 159px 159px 159px;
  grid-row: 190px 190px 190px 190px 190px;
  gap: 10px 10px;
  color: #404660;
  max-width: 1100px;
  grid-template-columns: repeat(auto-fit, 159px);
}
@media screen and (min-width: 380px) {
  .tutorial-goup {
    font-size: 16px;
    justify-content: center;
    align-items: center;
    margin: 0px, 30px, 0px;
  }
  .tutorials-group {
    grid-template-columns: repeat(auto-fill, minmax(159px, 1fr));
    justify-content: center;
    align-items: center;
    margin: 0px, 30px, 0px;
  }
}
.tutorial-single {
  width: 175px;
  height: 159px;
  background: #f9f9f9;
  place-items: center;
  border-radius: 18px;
  margin: 14px, 14px;
  transition: all 150ms ease-in-out;
  display: grid;
}
.tutorial-single:hover {
  cursor: pointer;
  width: 175px;
  height: 159px;
  background: #fff;
  box-shadow: 1px 1px 1px#2d3142;
  margin: 14px, 14px;
}

img {
  display: block;
  margin-top: 14px;
  justify-content: center;
  align-items: center;
}
